In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr

df_nike = pd.read_csv("./data/nike_sales_2024.csv")
df_nike

,Month,Region,Main_Category,Sub_Category,Product_Line,Price_Tier,Units_Sold,Revenue_USD,Online_Sales_Percentage,Retail_Price
0,November,India,Equipment,Bags,Gym Sack,Budget,48356,14506800,73,300
1,January,India,Equipment,Accessories,Hats,Budget,9842,2066820,50,210
2,October,India,Apparel,Tops,Tech Fleece,Mid-Range,25079,1755530,90,70
3,December,Greater China,Footwear,Cricket,Vapor Cricket,Premium,41404,8694840,58,210
4,May,Greater China,Equipment,Socks,Performance Socks,Premium,33569,5371040,53,160
...,...,...,...,...,...,...,...,...,...,...
995,October,India,Equipment,Accessories,Hats,Mid-Range,9870,987000,82,100
996,July,Europe,Equipment,Socks,Performance Socks,Mid-Range,14668,2640240,88,180
997,August,Japan,Footwear,Football,Phantom Vision,Premium,15078,2261700,74,150
998,May,South Korea,Equipment,Socks,Crew Socks,Premium,26242,1312100,52,50
999,December,Japan,Footwear,Cricket,Vapor Cricket,Mid-Range,18133,5077240,68,280

In [ ]:
import pandas as pd

def tipifica_variables(df, umbral_categoria, umbral_continua):
    """
    Classify columns into variable types based on cardinality and thresholds.

    Arguments:
    df (pd.DataFrame): Input dataframe.
    umbral_categoria (int): Threshold for categorical variables.
    umbral_continua (float): Threshold for continuous variables.

    Returns:
    pd.DataFrame: Dataframe with variable names and suggested types.
    """
    results = []
    for col in df.columns:
        cardinality = df[col].nunique()
        cardinality_percentage = cardinality / len(df)

        if cardinality == 2:
            tipo = "Binaria"
        elif cardinality < umbral_categoria:
            tipo = "Categorica"
        elif cardinality_percentage >= umbral_continua:
            tipo = "Numerica Continua"
        else:
            tipo = "Numerica Discreta"

        results.append({"nombre_variable": col, "tipo_sugerido": tipo})

    return pd.DataFrame(results)

# Ejemplo de uso
if __name__ == "__main__":
    # Carga del archivo Excel
    file_path = "C:/Users/Jesus/Documents/DS_Online_Octubre24_Exercises/04_Machine_Learning/Sprint_10/Team_Challenge/nike_sales_2024.xlsx"
    df_nike = pd.read_excel(file_path)

    # ParÃ¡metros de prueba
    umbral_categoria = 25
    umbral_continua = 0.1

    # Aplicar la funciÃ³n
    resultado = tipifica_variables(df_nike, umbral_categoria, umbral_continua)
    print(resultado)